
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
    #qr_code{
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/sortable_table.css' %}">
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}

{% else %}
<div class="row">
<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Teams</h4>
                    <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th data-type="number" class="sortable asc">Id</th>
                          <th data-type="string" class="sortable">Name</th>
                          <th data-type="number" class="sortable">Balance</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for team in teams %}
                        <tr id="team-{{ team.id }}">
                          <td>{{ team.id }}</td>
                          <td>{{ team.name }}</td>
                          <td>{{ team.balance|floatformat:2 }}</td>
                          <td>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/qrgen.js' %}"></script>
    <script src="{% static 'js/table_sortable.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <script>
    unlock_logo = "{% static 'qr/images/unlock_logo1.svg' %}"
    $('#teams-tab').addClass('active')
    params = new URLSearchParams(window.location.search)
    if(params.get('team_id')) $('#team-' + params.get('team_id')).addClass('table-active');
    </script>
{% endblock %}